@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
  font-family: inter;
}

.wrapper{
  width: 20%;
  height: 100dvh;
  display: flex;
  align-items: center;
  margin: var(--padding_3) auto;
  max-width: 100dvw;
}

:root{
  --gray: #717182;
  --lightgray: #7171822c;
  --green: #00c951;
  --green2: #028b39;
  --padding_1: calc(0.25rem * 4);
  --padding_2: calc(0.25rem * 6);
  --padding_3: calc(0.25rem * 8);
  --font_grand: 18px;
  --font_mid: 16px;
  --font_small: 14px;
}